<div class="row">
    <h1>Add User form</h1>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-8">
            <!--form start-->
            <form class="form-horizontal" method="post" action="#">
                <!--first name division-->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="First Name" name="fname">
                    </div>
                </div>
                <!--last name division-->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Last Name" name="lname">
                    </div>
                </div>
                <!--email division-->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Email" name="email">
                    </div>
                </div>
                <!--profession division-->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Profession</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="EnterProffesion" name="prof">
                    </div>
                </div>

                <!--button division-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" id="adduser">Add User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>