
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://i.pinimg.com/originals/a4/66/9f/a4669fa1433fef4b6e031ebd33b54db0.gif" width="100%" height="100%"alt="">
        </div>
        <div class="col-md-6">
            <h1 align="right">
                Hi there.. <br> Welcome to Crudapp
            </h1>
            <h4 align="right">
                Node Express Handlebars bootstrap
            </h4>
        </div>
    </div>    
</div>

